#container{
    height: 400px;
    width: 400px;
    background-color: red;
}

@media screen and (max-width:600px) {
    #container{
        height: 100px;
        width: 100px;
        background-color: yellow;
    }
    
    
}